
* { box-sizing : border-box; }

html{font-size: 16px; font-family: sans-serif; color: #777; align:center; background-color: #fff;
     display: block; padding: 0;}
body { padding: 0; margin: 0; }

.flask-pagedown-input { width: 100%; }
.flask-pagedown-preview { width: 100%; }
.flask-pagedown-preview img { width: 75%; text-align: center; }

.page-wrap { width: 100%; max-width: 960px; background: #777; margin: 0 auto; 
			 overflow: auto; }
.full-width { width: 100%; margin: 0; padding: 1px; clear: both;
			 overflow: auto; }			 
.dark { background: #333; }
.light { background: #fff; }

img.banner { display: block; width: 100%; margin: 0px; padding: 0px; }	 
img.half { width: 50%; }
img.third { width: 33%; }
img.quarter { width: 25%; }
img.dime { width: 10%; }
	 
nav { width: 100%; background: #333; text-align: right; margin: 0px; padding: 0px; }
nav ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
nav li { float: right; }
nav li a { display: block; color: #aaa; text-align: center; text-decoration: none; 
           font-weight: bold; padding: 5px 10px; }
nav li a:hover { background-color: #aaa; color: #333; }


footer { width: 100%; text-align: center; padding: 1%;
         background: #333; color: #aaa; }
footer a { color: #aaa; }
footer a:visited { color: #aaa; }
footer p { margin: 1%; }
	 



.container{ width: 100%; display: block;}

.smallest { font-size: 70%; }
.smaller { font-size: 80%; }
.small { font-size: 90%; }
.large { font-size: 110%; }
.larger { font-size: 120%; }
.largest { font-size: 130%; }


.card { background: #fff; margin: 0px; padding: 1%; margin: 0; margin-bottom: 1px; }
.card a { font-weight: bold; color: #111; }
.card a:visited { font-weight: bold; color: #111; }
.card img { display: block; width:75%; margin: auto;}

.center { text-align: center; align: center; }
.float-right { float: right; }

.clear-both { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }

ul.admin { list-style-type: none; }
ul.admin a { display: block; }

.toolbar { list-style-type: none; margin: 2% 0 0 0; padding: 0; overflow: hidden; }
.toolbar li { float: left; }
.toolbar a { display: block; color: #aaa; text-align: center; text-decoration: none; 
           font-weight: bold; padding: 5px 10px; }
.toolbar a:visted { color: #aaa; }
.toolbar a:hover { background-color: #aaa; color: #333; }
