{% extends "master.html" %}
{% block content %}
    <div class="container card">
        <p class="larger" >Borthwick Ballistics is a gunsmith shop located in Sturgis MS.
        We specialize in conservation and restoration of weapons from the 1850s 
        to the 1970s. We do everything from basic cleanings to customizations.</p>
    
        <p class="large">5352 Craig Springs Rd<br>
        Sturgis, Mississippi</p>
		
		<p class="large">Open Monday - Thursday, 10am - 6pm</p>
    
        <p class="large"><a target="_blank" href="mailto:borthwickballistics@gmail.com">borthwickballistics@gmail.com</a></p>
        <p class="large">(662) 251-1832</p>
    </div>
    {% for page in pages %}
    	<div class="container card">
    		<a class="larger" href="{{ url_for('view_post_by_slug', post_slug=page.slug) }}">{{ page.title | safe | truncate(150) }}</a>
			<p class="smallest">{{ page.timestamp | formatdatetime }}</p>
    		<p>{{ page.content | safe | truncate(500) }}</p>
		</div>
    {% endfor %}
		<div class="container card">
	{% if prev_url %}
			<a class="float-left" href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
			<a class="float-right" href="{{ next_url }}">Older posts</a>
    {% endif %}
			<div class="clear-both"></div>
		</div>
{% endblock %}
