<!DOCTYPE html>
<html>
<head>
	<title>BB:{{ title }}</title>
	{{ pagedown.include_pagedown() }}
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='mystyles.css') }}">
	<link rel="shortcut icon" href="{{  url_for('static', filename='images/favicon1.png') }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
</head>
<body>
	<div class="full-width dark">
		<div class="page-wrap">
			<img class="banner" src={{ url_for('static', filename='images/BB_logo.jpg') }}>
			<nav>			
				<ul>			
					<li><a href="https://www.facebook.com/Borthwick-Ballistics-237115003848341/" target=_blank>FACEBOOK</a></li>
					
					{% if current_user.is_authenticated %}
					<li><a href="/logout">LOGOUT</a></li>
					<li><a href="/new-post">NEW&nbsp;POST</a></li>
					{% endif %}

					<li><a href="/">HOME</a></li>
				</ul>            
			</nav>
		</div>
	</div> <!-- closes top stripe -->
	<div class="full-width light">
		<div class="page-wrap">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class="flashes card">
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}
		</div>
	</div>
	<div class="full-width dark"> <!-- start footer stripe -->
		<div class="page-wrap">
			<footer>
				<p>(662) 251-1832</p>
				<p><a target="_blank" href="mailto:borthwickballistics@gmail.com">borthwickballistics@gmail.com</a></p>
			</footer>
		</div>
	</div>
</body>
</html>
