{% extends "master.html" %}
{% block content %}
	<div class="container card large">
		<form action="{{ url_for('save_page') }}" method="POST">
			<input placeholder="Enter title here.." type="text" name="title"/>
			<!-- WYSIWYG editor -->
			<ul id="toolbar" class="toolbar">
			  <li><a data-wysihtml5-command="bold">Bold</a></li>
			  <li><a data-wysihtml5-command="italic">Italic</a></li>
			  <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">Heading</a></li>
			  <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p">Paragraph</a></li>
			</ul>
			<textarea id="editor" rows="20", cols="100" name="content" data-placeholder="Enter content here..">
			</textarea>

			<br/>
			<input type="submit" value="Submit"/>
		</form>
	</div>
	<script>
	  var editor = new wysihtml5.Editor('editor', {
	    toolbar: 'toolbar',
	    parserRules:  wysihtml5ParserRules
	  });
	</script>

{% endblock %}
